<h1>New Tester</h1>
<%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts/new", method: :post, local: true do |f| %>
    <%= f.label "Percentage" %>
    <%= f.number_field :percentage, in: 0.05..1.00, step: 0.05 %>
    <%= f.label "Quantity Threshold"%>
    <%= f.number_field :threshold%>
    <%= f.submit "Create New Discount"%>
<% end %>
